version: "3.9"

networks:
  kontakt-net:
    driver: bridge

services:
  kafka:
    image: bitnamilegacy/kafka:3.5
    container_name: kafka
    ports:
      - "29092:29092"  # External port 
      - "9092:9092"   # intnernal port
    networks:
      - kontakt-net
    environment:
      # --- KRaft Specific Settings ---
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_KRAFT_CLUSTER_ID=KontaktTakehomeCluster
      - KAFKA_CFG_LISTENERS=INTERNAL://:9092,EXTERNAL://:29092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:29092
      - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL
    healthcheck:
      test: ["CMD", "kafka-topics.sh", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5
    command: 
      - /bin/bash
      - -c
      - |
        /opt/bitnami/scripts/kafka/run.sh & 
        
        echo "Waiting for Kafka to be ready..."
        until /opt/bitnami/kafka/bin/kafka-topics.sh --list --bootstrap-server localhost:9092; do
          sleep 5
        done
        
        /opt/bitnami/kafka/bin/kafka-topics.sh --create --if-not-exists \
          --topic kontakt-topic \
          --partitions 12 \
          --replication-factor 1 \
          --bootstrap-server localhost:9092
        
        wait
        

  spark:
    image: bitnamilegacy/spark:3.5.3
    container_name: spark
    networks:
      - kontakt-net
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=2G
    ports:
      - "8080:8080"   # Spark master web UI
      - "7077:7077"   # Spark master port
      - "8081:8081"   # Spark worker web UI
    volumes:
      - ./pyspark:/opt/bitnami/spark/app

  postgres:
    image: postgres:latest
    container_name: postgres
    networks:
      - kontakt-net
    environment:
      - POSTGRES_USER=kontakt
      - POSTGRES_PASSWORD=k0ntakt_10
      - POSTGRES_DB=kontact_database
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./kontakt_database:/var/lib/postgresql/data
